<template>
    <template if:true={showeCommerceTemplate}>
        <template if:false={showActivateMIDLocationSection}>
            <lightning-layout multiple-rows>
                <lightning-layout-item size="12" small-device-size="2" medium-device-size="3" large-device-size="3"></lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="8" medium-device-size="6" large-device-size="6">
                    <lightning-card>
                        <template if:true={showLoading}>
                            <lightning-spinner alternative-text="Loading"></lightning-spinner>
                        </template>
                        <h2 slot="title">
                            <div class="card-header__title">New eCommerce Location
                            </div>
                        </h2>
                        <div slot="footer"> 
                            <div class="card-footer__button">
                                <lightning-layout multiple-rows>
                                        <lightning-layout-item size="1" small-device-size="1" medium-device-size="1"
                                        large-device-size="4" class="slds-p-around_x-small">

                                        </lightning-layout-item>
                                    <lightning-layout-item size="10" small-device-size="8" medium-device-size="8"
                                        large-device-size="6" class="slds-p-around_x-small">
                                        <lightning-button style="margin-top: 1em;" variant="brand" type="submit" name="save"
                                            onclick={createECommerceLocation} label="Create eCommerce Location"></lightning-button>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="8" small-device-size="4" medium-device-size="2"
                                        large-device-size="2" class="slds-p-around_x-small">
                                        <lightning-button  variant="brand"
                                            type="submit" name="back" onclick={navigateToOpportunity} label="Cancel"></lightning-button>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="1" small-device-size="1" medium-device-size="1"
                                        large-device-size="1" class="slds-p-around_x-small">

                                        </lightning-layout-item>
                                </lightning-layout>
                            </div>


                        </div>

                        <lightning-layout-item flexibility="auto">

                            <lightning-layout multiple-rows>
                                <lightning-messages></lightning-messages>

                                <template if:true={error}>
                                    <lightning-layout-item size="12" small-device-size="12" medium-device-size="12"
                                        large-device-size="12" class="slds-p-around_x-small">
                                        <p style="color:red; text-align:center">{error}</p>
                                    </lightning-layout-item>
                                </template>

                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                    large-device-size="6" class="slds-p-around_x-small">
                                    <lightning-record-edit-form object-api-name="Location__c">
                                        <lightning-input-field field-name="Account__c" value={currentAccountId}
                                            disabled></lightning-input-field>
                                    </lightning-record-edit-form>
                                </lightning-layout-item>
                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                    large-device-size="6" class="slds-p-around_x-small">
                                    <lightning-input type="text" label="eCommerce Website" name="input6" value={websiteURL}
                                        disabled></lightning-input>
                                </lightning-layout-item>

                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                    large-device-size="6" class="slds-p-around_x-small">
                                    <lightning-record-edit-form object-api-name="MID_Location__c">
                                        <lightning-input-field field-name="Merchant_ID__c" value={selectedMIDId}
                                            disabled></lightning-input-field>
                                    </lightning-record-edit-form>

                                </lightning-layout-item>
                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                    large-device-size="6" class="slds-p-around_x-small">
                                    <lightning-combobox name="Location" label="Location" value={selectedLocationData}
                                        placeholder="Select Location" options={locationOptions} onchange={handleLocationSelection}
                                        disabled={showNewLocationSection} required></lightning-combobox>
                                </lightning-layout-item>


                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                    large-device-size="6" class="slds-p-around_x-small">
                                    <lightning-input label="CAID" name="CAID" placeholder="Backoffice CAID"
                                        max-length="5"  onchange={handleInputFieldChange} pattern="[0-9]*"
                                        required></lightning-input>
                                    Providing a CAID would enable eCommerce for merchant
                                </lightning-layout-item>
                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                    large-device-size="6" class="slds-p-around_x-small" style="margin-top: 1.5pc;">
                                    <lightning-button-stateful label-when-off="Add new location" label-when-on="Use existing location"
                                        icon-name-when-off="utility:add" icon-name-when-on="utility:dash" selected={showNewLocationSection}
                                        onclick={handleLocationToggle}>
                                    </lightning-button-stateful>
                                </lightning-layout-item>
                            </lightning-layout>

                            <template if:true={showNewLocationSection}>
                                <lightning-layout multiple-rows>
                                    <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                        large-device-size="6" class="slds-p-horizontal_x-small">
                                        <lightning-input label="Street Line 1" name="street1" placeholder="Enter street 1"
                                            value={locationStreet1} max-length="30" type="text" onchange={handleInputFieldChange}
                                            required></lightning-input>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                        large-device-size="6" class="slds-p-horizontal_x-small">
                                        <lightning-input label="Street Line 2" name="street2" placeholder="Enter street 2"
                                            value={locationStreet2} type="text" max-length="30" onchange={handleInputFieldChange}></lightning-input>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                        large-device-size="6" class="slds-p-horizontal_x-small">
                                        <lightning-input label="Suburb/Town" name="city" placeholder="" value={locationCity}
                                            max-length="30" type="text" required onchange={handleInputFieldChange}></lightning-input>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                        large-device-size="6" class="slds-p-horizontal_x-small">

                                        <template if:true={statePicklistValues.data}>
                                            <lightning-combobox name="state" label="State" value={locationState}
                                                placeholder="-Select-" options={statePicklistValues.data.values}
                                                onchange={handleInputFieldChange} required>
                                            </lightning-combobox>
                                        </template>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                        large-device-size="6" class="slds-p-horizontal_x-small">
                                        <lightning-input label="Postcode" name="postcode" placeholder="2000" pattern="[0-9]*"
                                            max-length="4" onchange={handleInputFieldChange}
                                            required></lightning-input>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </template>

                            <lightning-layout multiple-rows>
                                <!--
                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                    large-device-size="6" class="slds-p-around_x-small">
                                    <lightning-input type="text" label="Bank Deposit Text" name="bankdeposittext" value={bankDepositText}
                                        max-length="18" onchange={handleInputFieldChange}></lightning-input>
                                </lightning-layout-item>
                                -->
                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="6"
                                    large-device-size="6" class="slds-p-around_x-small">
                                    <template if:true={showIEAPCheckbox}>

                                        <lightning-input style="margin-top:2em" type="checkbox" label="Enable AMEX IEAP?"
                                            name="amexieapseid" value={locationIeapEnabled} onchange={handleInputFieldChange}></lightning-input>

                                    </template>
                                    <template if:false={showIEAPCheckbox}>
                                        <lightning-input label="American Express ID" name="amexclassicseid"
                                            value={classicAmexSeid} max-length="10" onchange={handleInputFieldChange} pattern="[0-9]*"></lightning-input>
                                    </template>
                                </lightning-layout-item>
                            </lightning-layout>
                            <div class="slds-m-top_medium">
                            </div>
                        </lightning-layout-item>
                        <!--<p class="slds-p-horizontal_small">
                </p>-->
                    </lightning-card>
                </lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="2" medium-device-size="3" large-device-size="3"></lightning-layout-item>
            </lightning-layout>
        </template>
        <!--
    <template if:true={showActivateMIDLocationSection}>
            <lightning-layout multiple-rows>

            
            <lightning-layout-item size="12" small-device-size="2" medium-device-size="3" large-device-size="3"></lightning-layout-item>
            <lightning-layout-item size="12" small-device-size="8" medium-device-size="6" large-device-size="6">
            <lightning-card>
                    <h2 slot="title">
                            <div class="card-header__title">Active eCommerce Location
                            </div>
                        </h2>
                        
                        <div slot="footer">
                            <div class="card-footer__button">
                                <lightning-button style="margin-top: 1em;" variant="brand" type="submit" name="save"
                                    onclick={activateMIDLocationRecord} label="Activate eCommerce Location">
                                </lightning-button>
                            </div>
    
                        </div>

                        <template if:true={error}>
                                <p style="color:red">{error}</p>
                        </template>

                        <lightning-input label="CAID" name="CAID" placeholder="Backoffice CAID"
                                        value={locationCAID} max-length="5" max="99999" type="number" onchange={handleInputFieldChange}
                                        required></lightning-input>
                                        Providing a CAID would enable eCommerce for merchant


                </lightning-card>
            </lightning-layout-item>
            <lightning-layout-item size="12" small-device-size="2" medium-device-size="3" large-device-size="3"></lightning-layout-item>
            </lightning-layout>
        </template>
        -->
    </template>

    <template if:false={showeCommerceTemplate}>
        <h1 style="font-weight: bold;"> 
            <br></br><br></br>
            Please make sure that:
            <br></br>
            1. Opportunity is in “Approved” stage
            <br></br>
            2.You have assigned the “Application Specialist”
        </h1>

    </template>
</template>