<template>
    
    <template if:true={isStageNameValid}>
    <template if:false={renderQuoteCreationComponent}>
            <div class="slds-page-header">
                    <div class="slds-media">
                            <img src="https://i.imgur.com/92sDUOn.png" width="126" style="width:126px; font:40px/44px Arial, Helvetica, sans-serif; color:#003dd7; vertical-align:top;" alt="Tyro">
                        <div class="slds-media__body">
                        
                        </div>
                    </div>
                </div>
                <lightning-card>
                        <h3 slot="title">
                                <lightning-icon icon-name="standard:opportunity" alternative-text="New Opportunity" ></lightning-icon>&nbsp;&nbsp;
                                Select Rate Type {recordTypeName}<br>
                                
                            
                        </h3>
                        <div slot="footer">

                            </div>

                            <lightning-layout multiple-rows>
                                    <lightning-layout-item size="12" small-device-size="2" medium-device-size="3" large-device-size="3"></lightning-layout-item>
                                    <lightning-layout-item size="12" small-device-size="8" medium-device-size="6" large-device-size="6">
                                            
                                        <fieldset class="slds-form-element">
                                                    <legend class="slds-form-element__legend">
                                                      <abbr class="slds-required" title="required">*</abbr>Select Rate Type</legend>
                                                    <div class="slds-form-element__control">
                                                      <span class="slds-radio">
                                                        <input type="radio" id="radio-1" value="Cost Plus Uplift" name="options" checked="" onclick={quoteTypeSelected}/>
                                                        <label class="slds-radio__label" for="radio-1">
                                                          <span class="slds-radio_faux"></span>
                                                          <span class="slds-form-element__label">Cost Plus Uplift</span><br>
                                                          <span>(The Merchant will be charged an "eCommerce Service Fee" in addition to the normal fee charged on each transaction as agreed in their EFTPOS pricing)
                                                            </span>
                                                        </label>
                                                      </span>
                                                      <span class="slds-radio">
                                                        <input type="radio" id="radio-2" value="Simple Pricing" name="options" onclick={quoteTypeSelected}/>
                                                        <label class="slds-radio__label" for="radio-2">
                                                          <span class="slds-radio_faux"></span>
                                                          <span class="slds-form-element__label">Simple Pricing</span><br>
                                                          <span>(The Merchant will be charged on each transaction at the agreed rate)</span>
                                                        </label>
                                                      </span>
                                                    </div>
                                                  </fieldset>  
                                        
                                        <!--- <lightning-radio-group name="radioGroup"
                                                                label="Please select pricing model"
                                                                options={options}
                                                                value={value}
                                                                required
                                                                type="radio"
                                                                onchange={quoteTypeSelected}
                                                                class="checkboxfont">
                                            </lightning-radio-group> -->
                                            <div style="margin-top:2em">

                                            
                                            <lightning-button variant="brand" label="Proceed" title="Primary action" onclick={handleClick} 
                                                                disabled={disableButton} class="slds-m-top_large">
                                            </lightning-button>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="12" small-device-size="2" medium-device-size="3" large-device-size="3"></lightning-layout-item>
                                </lightning-layout>

                            </lightning-card>
        
    </template>
    
    
    <template if:true={renderQuoteCreationComponent}>
        <c-quote-generation-web-component record-id={recordId} selected-rate-type={selectedRateType}
        onquotetypereselection={handleReSelection} e-commerce-frontbook-quote={eCommerceFrontbookQuote}>
        </c-quote-generation-web-component>
    </template>
    </template>
    <template if:false={isStageNameValid}>
            <lightning-layout-item size="12" small-device-size="2" medium-device-size="3" large-device-size="3"></lightning-layout-item>
            <lightning-layout-item size="12" small-device-size="8" medium-device-size="6" large-device-size="6">
                    
                <lightning-card>
                            <h2 slot="title">
                                    <div class="card-header__title">Invalid opportunity stage to create Quotes
                                    </div>
                                </h2> 
                                <div slot="footer"> 
                            
                                        <lightning-button  variant="brand"
                                        type="submit" name="back" onclick={navigateToOpportunity} label="Cancel"></lightning-button>
                
                
                                    </div>
                    </lightning-card>
            </lightning-layout-item>
            <lightning-layout-item size="12" small-device-size="2" medium-device-size="3" large-device-size="3"></lightning-layout-item>

    </template>

</template>