.THIS .twitter-typeahead{
	width: 100% !important;
}
.THIS .tt-input{
	width: 100% !important;
}


.THIS .typeahead,
.THIS .tt-query,
.THIS .tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;

  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.THIS .typeahead {
  background-color: #fff;
}

.THIS .typeahead:focus {
  border: 2px solid #0097cf;
}

.THIS .tt-query {
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.THIS .tt-hint {
  color: #999
}

.THIS .tt-dropdown-menu {
  max-height: 250px;
    overflow: scroll;
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.THIS .tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  font-family: 'Salesforce Sans',Arial,sans-serif;
  line-height: 24px;
  
}

.THIS .tt-suggestion .tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.THIS .tt-suggestion:hover {
  cursor: pointer;
  color: rgb(8, 7, 7);
  background-color: rgb(243, 242, 242);
}

.THIS  .tt-suggestion p {
  margin: 0;
}

.THIS .icon-custom-class {
  fill:black;
}


.THIS .slds-icon_container {
  background-color:white;
  right: 0.40rem !important;
}