.THIS .html {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 100%;
    background: #b4c6e2;
    color: rgb(8, 7, 7);
    -webkit-tap-highlight-color: transparent;

}
.THIS.slds-brand-band {
    background-color: rgba(176, 196, 223, 1.0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/* These are the gradients and image used in the Salesforce theme */
.THIS.slds-brand-band:before {
    background-image: url(/_slds/images/themes/lightning_blue/lightning_blue_background.png),
        linear-gradient(to top, rgba(221, 219, 218, 0) 0, rgb(232, 232, 232));
}
.THIS.slds-brand-band:after {
    background-image: linear-gradient(to bottom, rgba(176, 196, 223, 0.0) 60%, rgba(176, 196, 223, 1.0));
}

.THIS li.current {
    background: #b4c6e2;
    color: rgb(8, 7, 7);
}