.THIS .contentPanel:before,
.THIS .contentPanel:after {

    content: " ";
    display: table;
}
.THIS .contentPanel:after 
{
    clear: both;
}
.THIS .left {
    float: left;
    width: 30%;
}
.THIS .full{
    float: all;
    width: 100%;
    
}
.THIS .center{
    float: center;
    width: 30%;
}
.THIS .right {
    float: right;
    width: 30%;
}


/*
 * Bootstrap
 */

.THIS .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .THIS .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .THIS .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .THIS .container {
    width: 1170px;
  }
}

.THIS .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.THIS .row {
  margin-left: -15px;
  margin-right: -15px;
}

.THIS .col-xs-1, 
.THIS .col-sm-1, 
.THIS .col-md-1, 
.THIS .col-lg-1, 
.THIS .col-xs-2,
.THIS .col-sm-2, 
.THIS .col-md-2, 
.THIS .col-lg-2,
.THIS .col-xs-3, 
.THIS .col-sm-3, 
.THIS .col-md-3, 
.THIS .col-lg-3, 
.THIS .col-xs-4, 
.THIS .col-sm-4, 
.THIS .col-md-4, 
.THIS .col-lg-4, 
.THIS .col-xs-5, 
.THIS .col-sm-5, 
.THIS .col-md-5, 
.THIS .col-lg-5, 
.THIS .col-xs-6, 
.THIS .col-sm-6, 
.THIS .col-md-6, 
.THIS .col-lg-6, 
.THIS .col-xs-7, 
.THIS .col-sm-7, 
.THIS .col-md-7, 
.THIS .col-lg-7, 
.THIS .col-xs-8, 
.THIS .col-sm-8, 
.THIS .col-md-8, 
.THIS .col-lg-8, 
.THIS .col-xs-9, 
.THIS .col-sm-9, 
.THIS .col-md-9, 
.THIS .col-lg-9, 
.THIS .col-xs-10, 
.THIS .col-sm-10, 
.THIS .col-md-10, 
.THIS .col-lg-10, 
.THIS .col-xs-11, 
.THIS .col-sm-11, 
.THIS .col-md-11, 
.THIS .col-lg-11, 
.THIS .col-xs-12, 
.THIS .col-sm-12, 
.THIS .col-md-12, 
.THIS .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.THIS .col-xs-1, 
.THIS .col-xs-2, 
.THIS .col-xs-3, 
.THIS .col-xs-4, 
.THIS .col-xs-5, 
.THIS .col-xs-6, 
.THIS .col-xs-7, 
.THIS .col-xs-8, 
.THIS .col-xs-9, 
.THIS .col-xs-10, 
.THIS .col-xs-11, 
.THIS .col-xs-12 {
  float: left;
}
.THIS .col-xs-12 {
  width: 100%;
}
.THIS .col-xs-11 {
  width: 91.66666667%;
}
.THIS .col-xs-10 {
  width: 83.33333333%;
}
.THIS .col-xs-9 {
  width: 75%;
}
.THIS .col-xs-8 {
  width: 66.66666667%;
}
.THIS .col-xs-7 {
  width: 58.33333333%;
}
.THIS .col-xs-6 {
  width: 50%;
}
.THIS .col-xs-5 {
  width: 41.66666667%;
}
.THIS .col-xs-4 {
  width: 33.33333333%;
}
.THIS .col-xs-3 {
  width: 25%;
}
.THIS .col-xs-2 {
  width: 16.66666667%;
}
.THIS .col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .THIS .col-sm-1, 
  .THIS .col-sm-2, 
  .THIS .col-sm-3, 
  .THIS .col-sm-4, 
  .THIS .col-sm-5, 
  .THIS .col-sm-6, 
  .THIS .col-sm-7, 
  .THIS .col-sm-8, 
  .THIS .col-sm-9, 
  .THIS .col-sm-10, 
  .THIS .col-sm-11, 
  .THIS .col-sm-12 {
    float: left;
  }
  .THIS .col-sm-12 {
    width: 100%;
  }
  .THIS .col-sm-11 {
    width: 91.66666667%;
  }
  .THIS .col-sm-10 {
    width: 83.33333333%;
  }
  .THIS .col-sm-9 {
    width: 75%;
  }
  .THIS .col-sm-8 {
    width: 66.66666667%;
  }
  .THIS .col-sm-7 {
    width: 58.33333333%;
  }
  .THIS .col-sm-6 {
    width: 50%;
  }
  .THIS .col-sm-5 {
    width: 41.66666667%;
  }
  .THIS .col-sm-4 {
    width: 33.33333333%;
  }
  .THIS .col-sm-3 {
    width: 25%;
  }
  .THIS .col-sm-2 {
    width: 16.66666667%;
  }
  .THIS .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .THIS .col-md-1, 
  .THIS .col-md-2, 
  .THIS .col-md-3, 
  .THIS .col-md-4, 
  .THIS .col-md-5, 
  .THIS .col-md-6, 
  .THIS .col-md-7, 
  .THIS .col-md-8, 
  .THIS .col-md-9, 
  .THIS .col-md-10, 
  .THIS .col-md-11, 
  .THIS .col-md-12 {
    float: left;
  }
  .THIS .col-md-12 {
    width: 100%;
  }
  .THIS .col-md-11 {
    width: 91.66666667%;
  }
  .THIS .col-md-10 {
    width: 83.33333333%;
  }
  .THIS .col-md-9 {
    width: 75%;
  }
  .THIS .col-md-8 {
    width: 66.66666667%;
  }
  .THIS .col-md-7 {
    width: 58.33333333%;
  }
  .THIS .col-md-6 {
    width: 50%;
  }
  .THIS .col-md-5 {
    width: 41.66666667%;
  }
  .THIS .col-md-4 {
    width: 33.33333333%;
  }
  .THIS .col-md-3 {
    width: 25%;
  }
  .THIS .col-md-2 {
    width: 16.66666667%;
  }
  .THIS .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .THIS .col-lg-1, 
  .THIS .col-lg-2, 
  .THIS .col-lg-3, 
  .THIS .col-lg-4, 
  .THIS .col-lg-5, 
  .THIS .col-lg-6, 
  .THIS .col-lg-7, 
  .THIS .col-lg-8, 
  .THIS .col-lg-9, 
  .THIS .col-lg-10,
  .THIS .col-lg-11, 
  .THIS .col-lg-12 {
    float: left;
  }
  .THIS .col-lg-12 {
    width: 100%;
  }
  .THIS .col-lg-11 {
    width: 91.66666667%;
  }
  .THIS .col-lg-10 {
    width: 83.33333333%;
  }
  .THIS .col-lg-9 {
    width: 75%;
  }
  .THIS .col-lg-8 {
    width: 66.66666667%;
  }
  .THIS .col-lg-7 {
    width: 58.33333333%;
  }
  .THIS .col-lg-6 {
    width: 50%;
  }
  .THIS .col-lg-5 {
    width: 41.66666667%;
  }
  .THIS .col-lg-4 {
    width: 33.33333333%;
  }
  .THIS .col-lg-3 {
    width: 25%;
  }
  .THIS .col-lg-2 {
    width: 16.66666667%;
  }
  .THIS .col-lg-1 {
    width: 8.33333333%;
  }
}
.THIS .clearfix:before,
.THIS .clearfix:after,
.THIS .container:before,
.THIS .container:after,
.THIS .container-fluid:before,
.THIS .container-fluid:after,
.THIS .row:before,
.THIS .row:after {
  display: table;
  content: " ";
}
.THIS .clearfix:after,
.THIS .container:after,
.THIS .container-fluid:after,
.THIS .row:after {
  clear: both;
}