<template>
    
    
        
            <div class="slds-page-header">
                <div class="slds-media">
                        <img src="https://i.imgur.com/92sDUOn.png" width="126" style="width:126px; font:40px/44px Arial, Helvetica, sans-serif; color:#003dd7; vertical-align:top;" alt="Tyro">
                    <div class="slds-media__body">
                    
                    </div>
                </div>
            </div>
            
            <lightning-messages></lightning-messages>
                    
            <lightning-card>
                    <h3 slot="title">
                            <lightning-icon icon-name="standard:opportunity" alternative-text="New Opportunity" ></lightning-icon>&nbsp;&nbsp;
                            <span>Opportunity Name - <b>{opportunityName} </b></span><br>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Merchant Statement Value - <b>{merchantStatementValue} </b></span>
                        
                    </h3>
                    <div slot="footer">
                            <div> 
                                    <div> 
                                        <lightning-layout multiple-rows>
                                            <lightning-layout-item size="2" small-device-size="1" medium-device-size="2"
                                                                    large-device-size="4" class="slds-p-top_x-small" >
                                                
                                            </lightning-layout-item>
        
                                            <lightning-layout-item size="8" small-device-size="10" medium-device-size="8"
                                                large-device-size="4" class="slds-p-top_x-small">
                                                <div class="slds-align_absolute-center">
                                                        <template if:false={eCommerceFrontbookQuote}>
                                                            <lightning-button variant="brand" type="submit" name="back"
                                                                                onclick={navigateToQuoteSelection} label="Go Back" class="slds-m-left_x-small">
                                                            </lightning-button>
                                                        </template>
                                                        <lightning-button variant="brand" type="submit" name="save"
                                                                            onclick={createQuote} label="Generate Quote" class="slds-m-left_x-small"></lightning-button>
                                                        <lightning-button  variant="brand" type="submit" name="back" 
                                                                        onclick={navigateToOpportunity} label="Cancel" class="slds-m-left_x-small"></lightning-button>
                                                </div>
                                            </lightning-layout-item>
        
                                            <lightning-layout-item size="2" small-device-size="1" medium-device-size="2"
                                                                    large-device-size="4" class="slds-p-top_x-small">
                                                <div class="slds-float_right">
                                                    
                                                </div>
                                            </lightning-layout-item>
        
                                            
                                        </lightning-layout>
                                    </div>
                                </div>
                    </div>
                    
                            
                         
            
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" small-device-size="12" medium-device-size="6" large-device-size="6" padding="horizontal-large">
                    
                    <lightning-card>
                            <h3 slot="title">
                                
                                Price Guideline
                            </h3>
                            <div slot="footer">
                                    
                            </div>
                            
                                    <lightning-datatable
                            key-field="recordId"
                            data={pricingData}
                            columns={pricingGuidelineColumns}
                            hide-checkbox-column=true
                            >
                        </lightning-datatable>
                                 
                    </lightning-card>
                
                
               
                

            </lightning-layout-item>
            
            <lightning-layout-item size="12" small-device-size="12" medium-device-size="6" large-device-size="6" padding="horizontal-large">

                        
                    
                
                
                    <template if:true={showLoading}>
                        <lightning-spinner alternative-text="Loading"></lightning-spinner>
                    </template>

                    
                    <lightning-card>
                            <h3 slot="title">
                                <lightning-icon icon-name="standard:quotes" alternative-text="New Quote" ></lightning-icon>&nbsp;&nbsp;
                                New {selectedRateType} Quote
                                
                            </h3>
                            <div slot="footer">
                                    
                            </div>
                    
                    <lightning-record-edit-form object-api-name="Quote">
                        
                        <template if:true={error}>
                                <lightning-layout-item size="12" small-device-size="12" medium-device-size="12"
                                    large-device-size="12" class="slds-p-around_x-small">
                                    <p style="color:red; text-align:center">{error}</p>
                                </lightning-layout-item>
                        </template>

                        <div class="slds-grid slds-wrap slds-gutters">

                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input name="quoteName" label="Quote Name" value={quoteName} onchange={handleInputFieldChange} required> </lightning-input>
                            </div>
                            
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-combobox name="contact" label="Contact" value={selectedContactData}
                                placeholder="Select Contact" options={contactOptions} onchange={handleInputFieldChange}
                                required></lightning-combobox>
                            </div>

                            <div class="slds-col slds-size_1-of-2">
                                <lightning-combobox label="Monthly access fees" name="monthlyAccessFees" value={monthlyAccessFees}
                                placeholder="Select Fee" onchange={handleInputFieldChange} options={accessFeesOptions} 
                                required></lightning-combobox>
                            </div>

                            <div class="slds-col slds-size_1-of-2">
                                    <lightning-input name="eCommerceRate" value={eCommerceRate} type="number" pattern="([0-9]+(\.[0-9]+)?)" max="5"
                                    label="eCommerce Rate Offered" placeholder="1.00 - 2.00 %" onchange={handleInputFieldChange} required step="0.01">
                                    </lightning-input>
                            </div>

                            <div class="slds-col slds-size_1-of-2">
                                    <lightning-combobox label="Merchant Statement Provided" name="merchantStatementProvided" value={merchatStatementProvided}
                                placeholder="Please select" onchange={handleInputFieldChange} options={merchantStatementOptions} required></lightning-combobox>
                            </div>
                            <div class="slds-col slds-size_1-of-2"></div>

                            <div class="slds-col slds-size_1-of-1">
                                    <lightning-textarea
                                    name="quoteDescription"
                                    placeholder="Enter quote description here"
                                    label="Quote Description"
                                    max-length="255"
                                    onblur={handleInputFieldChange} required>
                             </lightning-textarea>
                                   
                            </div>
                        </div>

                        

                    </lightning-record-edit-form>
               
                
                </lightning-card>
            
            </lightning-layout-item>
            

        
        </lightning-layout>
    </lightning-card>

    </template>

    
    
</template>