<apex:page standardController="Case" showChat="false" sidebar="true" lightningStylesheets="{!$User.UIThemeDisplayed == 'Theme4d'}">

       <apex:pageBlock mode="maindetail">
           <apex:pageBlockSection >
               
                <flow:interview name="Case_Close_Support_Call_2" buttonLocation="bottom" finishLocation="/{!$CurrentPage.parameters.VAR_Case_Id}"/>
    
           </apex:pageBlockSection> 
       </apex:pageBlock>
            
</apex:page>