<apex:page standardController="Order" extensions="CaseTerminationFlowExtension" showChat="false" sidebar="true" lightningStylesheets="{!$User.UIThemeDisplayed == 'Theme4d'}">

    <apex:pagemessages />
    
    <apex:sectionHeader title="Termination process" subtitle="Termination"/>
    
 <apex:pageBlock mode="maindetail">
           <apex:pageBlockSection >
    
                <flow:interview interview="{!createCase}" name="Case_Termination_Workflow" buttonLocation="bottom" finishLocation="{!finishPageRef}">
        
                    <apex:param name="VAR_OrderID" value="{!Order.Id}"/>
    
                </flow:interview>
           </apex:pageBlockSection> 
       </apex:pageBlock>
            
</apex:page>