<apex:page standardcontroller="Merchant_ID__c" tabStyle="Asset" showchat="false" sidebar="true" lightningStylesheets="{!$User.UIThemeDisplayed == 'Theme4d'}">

    <apex:pagemessages />
    
    <apex:sectionHeader title="Edit" subtitle="Terminal Return"/>
    
        <apex:pageBlock mode="maindetail">
           <apex:pageBlockSection >
               <flow:interview name="Terminal_Return_Mass_RMA" buttonLocation="bottom" finishLocation="/{!$CurrentPage.parameters.VAR_Merchant_ID_Id}"/>
           </apex:pageBlockSection>                        
        </apex:pageBlock>

</apex:page>