.THIS .accountsearchbutton{
    margin-top:20px;
}

.THIS .header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  z-index: 1;
}

.THIS html {
    overflow: hidden;
    height: 100%;
}

.THIS body {
    height: 100%;
    overflow: auto;
}

.THIS .contact-card {
	width:30%;
	margin-top:0px !important;
	height: 900px;
}

.THIS .option-buttons {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    width: 100%;
    height: 65px;
}

.THIS .option-buttons:hover {
    cursor: pointer;
    border-color:black;
    color: #fff;
    background-color: #6c757d;
    width: 100%;
    height: 65px;
}

.THIS .slds-spinner_container {
      height: 1200px;

}

.THIS .slds-table {
    border-left: 1px solid rgb(217, 219, 221);
    border-right: 1px solid rgb(217, 219, 221);
    line-height: 15px;
}

.THIS .questions-card {
	width:70%;
	height: 900px;
	margin-right: 4%;
  font-size: initial;
}

.THIS .question-icon {
  margin-right: 3%;
  margin-bottom: 3%;
}

.THIS .slds-media__body {
  text-align: center;
}

.THIS .slds-required {
 display: none;

}

.THIS .slds-theme_error {
  min-width:100%;
}

.THIS .nextButton  {
  width: 157px;
}

.THIS .skipButton {
  width: 157px;
}

.THIS .slds-checkbox_faux {
  width: 20% !important;
    height: 28px !important;
    border-radius: 5px !important;
}

.THIS .slds-checkbox_faux:after {
    height: 9px !important;
    width: 20px !important;
    border-bottom: 3px solid rgb(0, 112, 210) !important;
    border-left: 3px solid rgb(0, 112, 210) !important;

}

.THIS .slds-table {
      border-left: 1px solid rgb(217, 219, 221);
    border-right: 1px solid rgb(217, 219, 221);
    line-height: 15px;
}

.THIS .customRequired{
 font-weight: 400; } 

 .THIS .customRequired:before{    
 content: "*";
 margin: 0.2rem 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; } .THIS .none{
 display:none; }