.THIS .resource-select{
    cursor: pointer;
    border-block-end: 1px solid rgb(221, 219, 218) !important;
    border-radius: 0 !important;
}

.THIS .resource-select:hover{
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
}

.THIS .resource-select_active { 
    color: #fff !important;
    background-color: #006fd9 !important;
    border-color: #006fd9 !important;
    border-block-end: 1px solid rgb(221, 219, 218) !important;
    border-radius: 0 !important;
}

.THIS .resource-select_active div > h3 > a {
    color:white;
}

.THIS .no-header header{
    display:none;
}

.THIS .excludeModalButtonSetting {
    margin:23px;
}

.THIS .excludeAccountTable {
    border-left: 1px solid rgb(217, 219, 221);
    border-right: 1px solid rgb(217, 219, 221);
}

.THIS .excludeAccountTable > th {
    text-align:center;
}